In [1]:
import pandas as pd
import numpy as np

In [2]:
##Import dataset from 2021 Jan to May and creating dataframes
rawjan = pd.read_csv("Data/jan 2021.csv")
df1 = pd.DataFrame(rawjan)
df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,146,2020-12-01 00:02:50.1450,2020-12-01 00:05:16.1940,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,2
1,572,2020-12-01 00:11:57.3910,2020-12-01 00:21:30.2510,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,2
2,387,2020-12-01 00:14:49.3610,2020-12-01 00:21:16.8730,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,1
3,188,2020-12-01 00:45:06.3680,2020-12-01 00:48:14.4280,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,1
4,594,2020-12-01 01:17:17.0110,2020-12-01 01:27:11.9400,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,1

In [3]:
rawfeb = pd.read_csv("Data/feb 2021.csv")
df2 = pd.DataFrame(rawfeb)
df2.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,266,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42494,Subscriber,1988,1
1,1543,2021-01-01 00:23:32.9250,2021-01-01 00:49:16.0830,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,45343,Customer,1996,2
2,1461,2021-01-01 00:23:50.7940,2021-01-01 00:48:12.5660,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,31794,Customer,1995,1
3,793,2021-01-01 00:31:09.0770,2021-01-01 00:44:22.9430,3185,City Hall,40.717732,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,42316,Customer,1969,0
4,596,2021-01-01 00:35:52.1900,2021-01-01 00:45:48.7740,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,32575,Customer,1969,0

In [4]:
rawapril = pd.read_csv("Data/april 2021.csv")
df3 = pd.DataFrame(rawapril)
df3.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1753,00:00.1,29:13.1,3113,Greenpoint Ave & Manhattan Ave,40.730260,-73.953940,3165,Central Park West & W 72 St,40.775794,-73.976206,47373,Customer,1970,0
1,131,00:01.0,02:12.8,2012,E 27 St & 1 Ave,40.739445,-73.976806,174,E 25 St & 1 Ave,40.738177,-73.977387,45558,Customer,1970,0
2,1318,00:02.6,22:01.2,3746,6 Ave & Broome St,40.724308,-74.004730,3414,Bergen St & Flatbush Ave,40.680945,-73.975673,49618,Customer,1970,0
3,199,00:03.9,03:23.6,540,Lexington Ave & E 29 St,40.743116,-73.982154,2012,E 27 St & 1 Ave,40.739445,-73.976806,44880,Customer,1970,0
4,1594,00:06.1,26:40.4,3123,31 St & Thomson Ave,40.744697,-73.935404,502,Henry St & Grand St,40.714211,-73.981095,48086,Customer,1973,1

In [5]:
rawmay = pd.read_csv("Data/may 2021.csv")
df4 = pd.DataFrame(rawmay)
df4.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,370,2021-04-01 00:00:02.8730,2021-04-01 00:06:13.3450,4111,E 27 St & Park Ave S,40.742752,-73.984716,3798,W 40 St & 5 Ave,40.752269,-73.982079,36389,Customer,1970,0
1,2102,2021-04-01 00:00:04.7670,2021-04-01 00:35:07.2640,3087,Metropolitan Ave & Meeker Ave,40.714133,-73.952344,3859,Lorimer St & Calyer St,40.727950,-73.954140,52731,Customer,1970,0
2,306,2021-04-01 00:00:05.9260,2021-04-01 00:05:12.0290,465,Broadway & W 41 St,40.755136,-73.986580,153,E 40 St & 5 Ave,40.752062,-73.981632,49162,Customer,1970,0
3,425,2021-04-01 00:00:07.5420,2021-04-01 00:07:13.4670,3093,N 6 St & Bedford Ave,40.717452,-73.958509,3077,Stagg St & Union Ave,40.708771,-73.950953,38434,Customer,1970,0
4,107,2021-04-01 00:00:16.4570,2021-04-01 00:02:04.4020,3724,7 Ave & Central Park South,40.766741,-73.979069,2006,Central Park S & 6 Ave,40.765909,-73.976342,44629,Customer,1970,0

# Concatenate all the dataframes, remove any row that has NaN values,

In [6]:
df_all =  pd.concat([df1, df2, df3, df4], ignore_index=True)
df_all.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
3088039,711,2021-04-30 23:59:55.2130,2021-05-01 00:11:46.4140,3131,E 68 St & 3 Ave,40.767128,-73.962246,3175,W 70 St & Amsterdam Ave,40.777480,-73.982886,55580,Customer,1970,0
3088040,687,2021-04-30 23:59:55.6720,2021-05-01 00:11:22.8090,3839,Putnam Ave & Knickerbocker Ave,40.695450,-73.911640,3760,Willoughby Ave & Wyckoff Ave,40.705614,-73.921530,37335,Customer,1970,0
3088041,1511,2021-04-30 23:59:56.2250,2021-05-01 00:25:07.7140,232,Cadman Plaza E & Tillary St,40.695977,-73.990149,150,E 2 St & Avenue C,40.720874,-73.980858,49829,Customer,1970,0
3088042,781,2021-04-30 23:59:56.3250,2021-05-01 00:12:58.1230,3705,Thompson St & Bleecker St,40.728401,-73.999688,3435,Grand St & Elizabeth St,40.718822,-73.995960,43097,Customer,1970,0
3088043,1295,2021-04-30 23:59:57.0600,2021-05-01 00:21:32.6890,3507,Park Ave & E 124 St,40.804555,-73.939686,3630,Frederick Douglass Blvd & W 115 St,40.803865,-73.955931,49782,Customer,1970,0

In [7]:
df_all['gender']

0          2
1          2
2          1
3          1
4          1
          ..
3088039    0
3088040    0
3088041    0
3088042    0
3088043    0
Name: gender, Length: 3088044, dtype: int64

# Changing the gender from int to text

In [8]:
df_all['Gender'] = df_all['gender'].replace([0,1,2],['unknown',"Male","Female"])
df_all = df_all.drop('gender',1)
df_all["distance"] = ''
df_all.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,Gender,distance
3088039,711,2021-04-30 23:59:55.2130,2021-05-01 00:11:46.4140,3131,E 68 St & 3 Ave,40.767128,-73.962246,3175,W 70 St & Amsterdam Ave,40.777480,-73.982886,55580,Customer,1970,unknown,
3088040,687,2021-04-30 23:59:55.6720,2021-05-01 00:11:22.8090,3839,Putnam Ave & Knickerbocker Ave,40.695450,-73.911640,3760,Willoughby Ave & Wyckoff Ave,40.705614,-73.921530,37335,Customer,1970,unknown,
3088041,1511,2021-04-30 23:59:56.2250,2021-05-01 00:25:07.7140,232,Cadman Plaza E & Tillary St,40.695977,-73.990149,150,E 2 St & Avenue C,40.720874,-73.980858,49829,Customer,1970,unknown,
3088042,781,2021-04-30 23:59:56.3250,2021-05-01 00:12:58.1230,3705,Thompson St & Bleecker St,40.728401,-73.999688,3435,Grand St & Elizabeth St,40.718822,-73.995960,43097,Customer,1970,unknown,
3088043,1295,2021-04-30 23:59:57.0600,2021-05-01 00:21:32.6890,3507,Park Ave & E 124 St,40.804555,-73.939686,3630,Frederick Douglass Blvd & W 115 St,40.803865,-73.955931,49782,Customer,1970,unknown,

In [21]:
df_all.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year
count,3.088044e+06,3.088044e+06,3.088044e+06,3.088044e+06,3.088044e+06,3.088044e+06,3.088044e+06,3.088044e+06,3.088044e+06
mean,1.154383e+03,2.259220e+03,4.074099e+01,-7.397642e+01,2.254970e+03,4.074061e+01,-7.397660e+01,4.264181e+04,1.970723e+03
std,1.195520e+04,1.587346e+03,3.733314e-02,2.459083e-02,1.587858e+03,3.716792e-02,2.461401e-02,9.390213e+03,4.602773e+00
min,6.100000e+01,7.200000e+01,4.063338e+01,-7.408364e+01,7.200000e+01,4.063338e+01,-7.408364e+01,1.452900e+04,1.888000e+03
25%,3.740000e+02,4.470000e+02,4.071689e+01,-7.399345e+01,4.470000e+02,4.071625e+01,-7.399384e+01,3.680500e+04,1.970000e+03
50%,6.680000e+02,3.148000e+03,4.074098e+01,-7.398101e+01,3.147000e+03,4.073971e+01,-7.398130e+01,4.541300e+04,1.970000e+03
75%,1.194000e+03,3.619000e+03,4.076501e+01,-7.396056e+01,3.617000e+03,4.076440e+01,-7.396059e+01,4.979900e+04,1.970000e+03
max,2.899719e+06,4.502000e+03,4.087305e+01,-7.388431e+01,4.519000e+03,4.087305e+01,-7.388431e+01,5.562700e+04,2.004000e+03

In [24]:
pd.seriespop = df_all(" ".join(df["text"]).split()).most_common()

NameError: name 'df' is not defined

In [18]:
df_all.isnull().any() # Null values in column "Birth Year" detected

tripduration               False
starttime                  False
stoptime                   False
start station id           False
start station name         False
start station latitude     False
start station longitude    False
end station id             False
end station name           False
end station latitude       False
end station longitude      False
bikeid                     False
usertype                   False
birth year                 False
Gender                     False
distance                   False
dtype: bool

# # saving the data in csv format

In [20]:
df_all.to_csv('Data/final_tripdata.csv', index_label = "TripID")